
{% extends 'base.html' %}
{% block title %}  Home Page| {% endblock %}

{% block content %}
{% load static %}


    
<section class="section section-bg" id="call-to-action" style="background-image: url(assets/images/banner-image-1-1920x500.jpg)">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 offset-lg-1">
              <div class="cta-content">
                  <br>
                  <br>
                  <h2>Learn more <em>About Us</em></h2>
              </div>
          </div>
      </div>
  </div>
</section>


        <center>
        <div class="col-lg-8">
          <section class='tabs-content'>
            <article id='tabs-1'>
              <img src="assets/images/about-image-1-940x460.jpg" alt="">
              <h4>Our Mission</h4>

              <p>Our mission is simple but profound: to connect buyers and sellers in the automotive marketplace, providing them with a reliable, user-friendly platform that empowers them to make informed decisions. We aim to redefine the way people buy and sell vehicles, prioritizing trust, transparency, and convenience.</p>
      </center>

  
 
{% endblock %}